<div class="container py-5">
    <h3 class="text-center text-uppercase">List of Audit Histories</h3>
    <table class="table table-bordered">
      <thead>
        <tr class="text-center text-uppercase">
          <!-- <th>ID</th> -->
          <th>Date of Audit</th>
          <th>Reviewed By</th>
          <th>Status</th>
          <th>Reviewed Section</th>
          <th>Comment Queries</th>
          <th>Action Item</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let history of auditHistories">
          <!-- <td>{{ history.id }}</td> -->
          <td>{{ history.dateOfAudit | date }}</td>
          <td>{{ history.reviewedBy }}</td>
          <td>{{ history.status }}</td>
          <td>{{ history.reviewedSection }}</td>
          <td>{{ history.commentQueries }}</td>
          <td>{{ history.actionItem }}</td>
          <td>
            <button class="btn btn-primary me-2" (click)="openEditModal(history)">Edit</button>
            <button class="btn btn-danger" (click)="deleteAuditHistory(history)">Delete</button>
          </td>
        </tr>
        <tr *ngIf="isNewRow">
          <!-- <td><input type="text" [(ngModel)]="newAuditHistory.id"></td> -->
          <td><input type="date" [(ngModel)]="newAuditHistory.dateOfAudit"></td>
          <td><input type="text" [(ngModel)]="newAuditHistory.reviewedBy"></td>
          <td><input type="text" [(ngModel)]="newAuditHistory.status"></td>
          <td><input type="text" [(ngModel)]="newAuditHistory.reviewedSection"></td>
          <td><input type="text" [(ngModel)]="newAuditHistory.commentQueries"></td>
          <td><input type="text" [(ngModel)]="newAuditHistory.actionItem"></td>
          <td><button class="btn btn-success" (click)="saveNewRow()">Add row</button></td>
        </tr>
      </tbody>
    </table>
    <button class="btn btn-primary me-2" (click)="addNewRow()">+</button>
    <!-- <button class="btn btn-success" (click)="saveChanges()">Save Changes</button> -->
  </div>
