<div class="modal-header">
  <h4 class="modal-title">Edit Project Budget</h4>
  <button type="button" class="btn btn-danger close ms-4" aria-label="Close"
      (click)="dismiss()">
      <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form>
      <div class="form-group mb-3">
          <label>Type</label>
          <input type="number" class="form-control" [(ngModel)]="projectBudget.type" name="type">
      </div>
      <div class="form-group mb-3">
          <label>Duration In Months</label>
          <input type="number" class="form-control" [(ngModel)]="projectBudget.durationInMonths" name="durationInMonths">
      </div>
      <div class="form-group mb-3">
          <label>Budgeted Hours</label>
          <input type="number" class="form-control" [(ngModel)]="projectBudget.budgetedHours" name="budgetedHours">
      </div>
      <div class="form-group mb-3">
          <label>Contract Duration</label>
          <input type="number" class="form-control" [(ngModel)]="projectBudget.contractDuration" name="ContractDuration">
      </div>
      <div class="form-group mb-3">
          <label>Budgeted Cost</label>
          <input type="number" class="form-control" [(ngModel)]="projectBudget.budgetedCost" name="BudgetedCost">
      </div>
      <div class="form-group mb-3">
          <label>Currency</label>
          <input type="text" class="form-control" [(ngModel)]="projectBudget.currency" name="Currency">
      </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="dismiss()">Cancel</button>
  <button type="button" class="btn btn-primary" (click)="saveChanges()">Save Changes</button>
</div>
