<div class="modal-header">
    <h4 class="modal-title">Edit Escalation Matrix</h4>
    <button type="button" class="btn btn-danger close ms-4" aria-label="Close" (click)="dismiss()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form>
        <div class="form-group mb-3">
            <label>Level</label>
            <input type="text" class="form-control" [(ngModel)]="escalationMatrix.level" name="level">
        </div>
        <div class="form-group mb-3">
            <label>Escalation Type</label>
            <input type="text" class="form-control" [(ngModel)]="escalationMatrix.escalationType" name="escalationType">
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="dismiss()">Cancel</button>
    <button type="button" class="btn btn-primary" (click)="saveChanges()">Save Changes</button>
</div>
