<div class="modal-header">
    <h4 class="modal-title">Edit Scope</h4>
    <button type="button" class="btn btn-danger close ms-4" aria-label="Close" (click)="dismiss()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form>
        <div class="form-group mb-3">
            <label>Technology</label>
            <input type="text" class="form-control" [(ngModel)]="scope.technology" name="technology">
        </div>
        <div class="form-group mb-3">
            <label>Scope Details</label>
            <textarea class="form-control" rows="4" [(ngModel)]="scope.scopeDetails" name="scopeDetails"></textarea>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="dismiss()">Cancel</button>
    <button type="button" class="btn btn-primary" (click)="saveChanges()">Save Changes</button>
</div>
