<div class="modal-header">
    <h4 class="modal-title">Edit Approved Team</h4>
    <button type="button" class="close ms-4" aria-label="Close" (click)="dismiss()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form>
        <div class="form-group mb-3">
            <label>Phase</label>
            <input type="number" class="form-control" [(ngModel)]="approvedTeam.phase" name="phase">
        </div>
        <div class="form-group mb-3">
            <label>Number of Resources</label>
            <input type="number" class="form-control" [(ngModel)]="approvedTeam.numberOfResources" name="numberOfResources">
        </div>
        <div class="form-group mb-3">
            <label>Role</label>
            <input type="text" class="form-control" [(ngModel)]="approvedTeam.role" name="role">
        </div>
        <div class="form-group mb-3">
            <label>Availability Percentage</label>
            <input type="number" class="form-control" [(ngModel)]="approvedTeam.availabilityPercentage" name="availabilityPercentage">
        </div>
        <div class="form-group mb-3">
            <label>Duration</label>
            <input type="number" class="form-control" [(ngModel)]="approvedTeam.duration" name="duration">
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="dismiss()">Cancel</button>
    <button type="button" class="btn btn-primary" (click)="saveChanges()">Save Changes</button>
</div>
