<div *ngIf="auth.user$ | async as user">
  <app-navbar></app-navbar>

  <div class="container-fluid">
    <div class="row">

      <div class="col-md-2">
        <app-sidebar></app-sidebar>
      </div>

      <div class="col-md-10 mt-2">
        <div class="project-container">
          <div class="project-box">
            <h2>All Projects</h2>
            <p>{{totalProjects }}</p>
          </div>
          <div class="project-box">
            <h2>In Progress</h2>
            <p>{{ inProgress }}</p>
          </div>
          <div class="project-box">
            <h2>Completed</h2>
            <p>{{ completed }}</p>
          </div>
          <div class="project-box">
            <h2>On Hold</h2>
            <p>{{ onHold }}</p>
          </div>
        </div>

        <app-all-projects></app-all-projects>
      </div>

    </div>
  </div>
</div>

<!-- 
<nav class="navbar navbar-expand-lg navbar-light bg-white">
    <a class="navbar-brand" href="#">My Navigation</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link active" routerLink="/allprojects">All projects <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="">In progress</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="">Completed</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="">Hold</a>
        </li>
      </ul>
    </div>
  </nav> -->