<div class="container py-5">
  <h3 class="text-center text-uppercase">List of Project Budgets</h3>
  <table class="table table-bordered">
    <thead>
      <tr class="text-center text-uppercase">
        <!-- <th>ID</th> -->
        <th>Type</th>
        <th>Duration In Months</th>
        <th>Budgeted Hours</th>
        <th>Contract Duration</th>
        <th>Budgeted Cost</th>
        <th>Currency</th>
        <!-- <th>Project ID</th> -->
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let budget of projectBudgets">
        <!-- <td>{{ budget.id }}</td> -->
        <td>{{ budget.type }}</td>
        <td>{{ budget.durationInMonths }}</td>
        <td>{{ budget.budgetedHours }}</td>
        <td>{{ budget.contractDuration }}</td>
        <td>{{ budget.budgetedCost }}</td>
        <td>{{ budget.currency }}</td>
        <!-- <td>{{ budget.ProjectId }}</td> -->
        <td>
          <button class="btn btn-primary me-2" (click)="openEditModal(budget)">Edit</button>
          <button class="btn btn-danger" (click)="deleteProjectBudget(budget)">Delete</button>
        </td>
      </tr>
      <tr *ngIf="isNewBudget">
        <!-- <td><input type="text" [(ngModel)]="newBudget.id"></td> -->
        <td><input type="number" [(ngModel)]="newBudget.type"></td>
        <td><input type="number" [(ngModel)]="newBudget.durationInMonths"></td>
        <td><input type="number" [(ngModel)]="newBudget.budgetedHours"></td>
        <td><input type="number" [(ngModel)]="newBudget.contractDuration"></td>
        <td><input type="number" [(ngModel)]="newBudget.budgetedCost"></td>
        <td><input type="text" [(ngModel)]="newBudget.currency"></td>
        <!-- <td><input type="text" [(ngModel)]="newBudget.ProjectId"></td> -->
        <td><button class="btn btn-success" (click)="saveNewBudget()">Add row</button></td>
      </tr>
    </tbody>
  </table>
  <button class="btn btn-primary me-2" (click)="addNewBudget()">+</button>
  <!-- <button class="btn btn-success" (click)="saveChanges()">Save Changes</button> -->
</div>
