<ng-container *ngIf="auth.isAuthenticated$ | async; else loggedOut">
  <button class="btn btn-danger" (click)="auth.logout({ logoutParams: { returnTo: document.location.origin } })">
    Log out
  </button>
  <app-dashboard></app-dashboard>
</ng-container>

<ng-template #loggedOut>
  <div class="container-fluid d-flex flex-column align-items-center justify-content-center vh-100 bg-light">
    <h1 class="text-center display-4 font-weight-bold mb-4">
      Welcome to Customer Success Platform
    </h1>
    <p class="text-lg text-center mb-4">
      Our platform automates the process of notifying stakeholders about any
      updates or changes within our system, enhancing communication and
      transparency.
    </p>
    <div class="text-lg text-center mb-4">
      <h2>Please log in to access the platform's features.</h2>
      <button class="btn btn-primary" (click)="auth.loginWithRedirect()">Log in</button>
    </div>
  </div>
</ng-template>